{% extends 'base.html' %}

{% block titulo %}
	<h3>Alterar Senha</h3>
{% endblock %}

{% block pagina %}

{% if erro is not None %}
<div class='error-overlay' onclick='this.style.display="none"'>
	<div class='container'>
		<div class='card shadow'>
			<div class='card-body'>
				<h5 class='text-center'>Aviso</h5>
				<button
					type='button'
					class='close'
					aria-label='Fechar'
				>
					<span aria-hidden='true'>&times;</span>
				</button>
				<hr />
				<p>{{ erro }}</p>
			</div>
		</div>
	</div>
</div>
{% endif %}

<div class='form'>
	<div class='container'>
		<div class='card shadow'>
			<div class='card-body'>
				<form method='post' action='.' autocomplete='off'>
					{% csrf_token %}

					<div class='form-group'>
						<label for='email'>Email</label>
						<input
							type='email'
							class='form-control'
							id='email'
							name='email'
							placeholder='Preencha campo com o seu email'
							value='{{ form.email }}'
							required
							maxlength='45'
						/>
					</div>

					<div class='form-row'>
						<div class='col'>
							<label for='senha'>Senha</label>
							<div class='input-group'>
								<input
									type='password'
									id='senha'
									name='senha'
									placeholder='Preencha campo com a nova senha'
									required
									maxlenth='100'
									class='form-control'
									value='{{ form.senha }}'
								/>
								<div class='input-group-append'>
									<div class='input-group-text'>
										<i 
											class='fas fa-eye' 
											id='visualizar' 
											onclick='exibirSenha()'
											style='cursor: pointer;'
										></i>
									</div>
								</div>
							</div>
						</div>
						<div class='col'>
							<label for='confirma'>Confirmar</label>
							<div class='input-group'>
								<input
									type='password'
									id='confirma'
									name='confirma'
									placeholder='Preencha campo com a confirmação da senha'
									required
									maxlenth='100'
									class='form-control'
									value='{{ form.confirma }}'
								/>
								<div class='input-group-append'>
									<div class='input-group-text'>
										<i 
											class='fas fa-eye' 
											id='visualizadorconfirma' 
											onclick='exibirConfirmarSenha()'
											style='cursor: pointer;'
										></i>
									</div>
								</div>
							</div>
						</div>
					</div>

					<footer>
						<button
							type='button'
							class='btn btn-danger btn-lg'
							onclick='window.location.href=`{% url "adminlist" %}`'
						>
							Cancelar
						</button>
						<button 
							type='submit' 
							class='btn btn-success btn-lg ml-4'
						>
							Salvar
						</button>
					</footer>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
	const senha = document.getElementById('senha');
	const confirma = document.getElementById('confirma');
	const visualizador = document.getElementById('visualizar');
	const visualizadorConfirma = document.getElementById('visualizadorconfirma');

	function exibirSenha() {
		if (senha.type === 'password') {
    		senha.type = 'text';
    		visualizador.className = 'fas fa-eye-slash';
		} else {
			senha.type = 'password';
			visualizador.className = 'fas fa-eye';
		}
	}

	function exibirConfirmarSenha() {
		if (confirma.type === 'password') {
    		confirma.type = 'text';
    		visualizadorConfirma.className = 'fas fa-eye-slash';
		} else {
			confirma.type = 'password';
			visualizadorConfirma.className = 'fas fa-eye';
		}
	}

	$('form').on('submit', function() {
        $('button[type="submit"]').attr('disabled', true);
        return true;
    });
</script>
{% endblock %}