.list {
	padding-top: 5em;
}

.list .empty {
	margin: auto;
	width: 100%;
	max-width: 35em;
}

.list .empty header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.list .empty header strong {
	font-size: 1.5em;
	font-weight: bold;
}

.list .empty header i {
	font-size: 4em;
	color: #F02A00;
}

.list .empty header small {
	font-size: 1.1em;
	margin-bottom: 0.938em;
}

.list .empty button[type='button'] {
	margin: 1.250em auto;
	cursor: pointer;
}

.list table tbody tr {
	background-color: #FFF;
}

.list table tbody tr td img {
	display: block;
	width: 3em;
    height: 3em;
    border-radius: 50%;
}