{% extends 'base.html' %}

{% block titulo %}
	<h3>Lista de Vagas</h3>
{% endblock %}

{% block pagina %}
<div class='list'>
	{% if vagas|length > 0 %}
		<div class='input-group mb-3'>
			<input type='text' class='form-control' placeholder='Pesquisar vaga pelo titulo' />
			<div class='input-group-append'>
				<button class='btn btn-info' type='button' onclick='pesquisarVaga()'>Pesquisar</button>
			</div>
		</div>
		<div class='table-responsive-lg shadow'>
			<table class='table table-bordered table-hover'>
				<thead class='thead-dark'>
					<th scope='col' class='text-center align-middle'>Razão social</th>
					<th scope='col' class='text-center align-middle'>Titulo</th>
					<th scope='col' class='text-center align-middle'>Data de expiração</th>
					<th scope='col' class='text-center align-middle'>Opções</th>
				</thead>
				<tbody>
					{% for vaga in vagas %}
						<tr>
							<td class='text-center align-middle'>{{ vaga.razao_social }}</td>
							<td class='text-center align-middle'>{{ vaga.titulo }}</td>
							<td class='text-center align-middle'>{{ vaga.data_exp }}</td>
							<td class='text-center align-middle'>
								<button 
									type='button' 
									class='btn btn-secondary btn-md btn-block'
									onclick='window.location.href=`{% url "jobread" vaga.id %}`'
								>
									Ver detalhes
								</button>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% else %}
		<div class='empty'>
			<div class='card shadow'>
				<div class='card-body'>
					<header>
						<strong>Aviso</strong>
						<i class='fas fa-times'></i>
						<small>Ainda não existem vagas cadastradas</small>
					</header>
				</div>
			</div>
		</div>
	{% endif %}
</div>
{% endblock %}